<div class="center">
    <div class="grid-container">
      <app-machine
        title="Golpe de prensa"
        imageName="Golpe de prensa.jpg"
        description="Una prensa de golpe es una máquina utilizada en la fabricación de metal para cortar, perforar, estampar, o conformar piezas de metal. Funciona aplicando una fuerza considerable con un punzón y un troquel, generalmente mediante un accionamiento mecánico o hidráulico, para deformar o cortar el material."
        (machineClicked)="onMachineSelect('Golpe de prensa')"
      ></app-machine>
      <app-machine
        title="Pantógrafo"
        imageName="Pantografo.jpeg"
        description="Un pantógrafo es una máquina de copiado y ampliación que se utiliza en grabado y mecanizado. Consta de un sistema de barras articuladas que permiten reproducir una figura en diferentes tamaños, manteniendo las proporciones. Es ampliamente utilizado en trabajos de mecanizado donde se requiere replicar un diseño en piezas de metal, madera, o plástico."
        (machineClicked)="onMachineSelect('Pantógrafo')"
      ></app-machine>
      <app-machine
        title="Pintura líquida"
        imageName="PL.jpeg"
        description="Las máquinas de pintura líquida se utilizan para aplicar revestimientos líquidos sobre superficies, generalmente mediante pulverización. Este proceso es común en la industria automotriz y en la fabricación de equipos para proteger y embellecer los productos. La aplicación se realiza utilizando pistolas de pintura que atomizan el líquido en finas partículas."
        (machineClicked)="onMachineSelect('Pintura líquida')"
      ></app-machine>
      <app-machine
        title="Pintura en polvo"
        imageName="PP.jpeg"
        description="Las máquinas de pintura en polvo aplican un recubrimiento seco sobre superficies metálicas. Este polvo se adhiere a la superficie mediante una carga electrostática y luego se cura en un horno, donde se derrite y forma una capa uniforme y duradera. Es un método popular por su eficiencia y bajo impacto ambiental, ya que no requiere solventes."
        (machineClicked)="onMachineSelect('Pintura en polvo')"
      ></app-machine>
      <app-machine
        title="Plegadora"
        imageName="Plegadora.jpeg"
        description="Una plegadora es una máquina herramienta utilizada para doblar láminas de metal en formas específicas. Emplea un sistema de matrices y punzones para aplicar fuerza y doblar el material en ángulos precisos. Es esencial en la fabricación de piezas metálicas como conductos, cajas, y perfiles estructurales."
        (machineClicked)="onMachineSelect('Plegadora')"
      ></app-machine>
      <app-machine
        title="Soldadura"
        imageName="Soldadura.jpeg"
        description="Las máquinas de soldadura se utilizan para unir piezas de metal mediante la fusión de los bordes. Existen varios tipos de soldadura, como la soldadura por arco (MIG, TIG), soldadura por puntos y soldadura por láser. Estas máquinas emplean calor intenso, presión, o una combinación de ambos para lograr una unión sólida y duradera."
        (machineClicked)="onMachineSelect('Soldadura')"
      ></app-machine>
    </div>
  </div>
  